# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [1]:
x = set()
print(x)

set()

* create a non empty set
* print that set

In [2]:
y = set(['test',52,'test',53,'long test',54,'tst',55,53,52])
print(y)

{'tst', 'long test', 52, 53, 54, 'test', 55}

* iterate over the set and print results

In [3]:
for i in y:
    print(i)

tst
long test
52
53
54
test
55

* add one item to the set

In [4]:
y.add(60)
print(y)

{'tst', 'long test', 52, 53, 54, 'test', 55, 60}

* add multiple items to the set

In [5]:
t = {'1test', '2test', '3test'}
y.update(t)
print(y)

{'1test', '2test', '3test', 'tst', 'long test', 52, 53, 54, 'test', 55, 60}

* remove an item from a set if it is present in the set

In [6]:
y.remove('tst')

* find maximum and minimum values of the set

In [7]:
n = set([1,2,3,4,5,6,7,8,2,3,4,5,6,7,8,3,1,3,4,5,11])
print(f'the max is',max(n))
print(f'the min is',min(n))

the max is 11
the min is 1

* print the length of the set

In [8]:
print(f'the length is', len(n))

the length is 9

* create an intersection of x and y

In [9]:
x = set([1,2,3,4])
y = set([3,6,5,4])
intersection = x.intersection(y)
print(intersection)

{3, 4}

* create an union of x and y

In [10]:
union = x.union(y)
print(union)

{1, 2, 3, 4, 5, 6}

* create difference between x and y

In [11]:
difference = x - y
print(difference)

{1, 2}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [12]:
import collections
from collections import Counter
sentence = 'black cat jumped over white cat'
cnt = Counter(sentence)
print(cnt)

Counter({' ': 5, 'a': 3, 'c': 3, 't': 3, 'e': 3, 'b': 1, 'l': 1, 'k': 1, 'j': 1, 'u': 1, 'm': 1, 'p': 1, 'd': 1, 'o': 1, 'v': 1, 'r': 1, 'w': 1, 'h': 1, 'i': 1})

* print the most common words

In [13]:
words = sentence.split()
cnt = Counter(words)
#print(cnt)
print(cnt.most_common(3))

[('cat', 2), ('black', 1), ('jumped', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [14]:
from collections import defaultdict
count = defaultdict(int)
for word in words:
    count[word] += 1
print(count)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [15]:
from collections import deque
y = set(['test',52,'test',53,'long test',54,'tst',55,53,52])
print(y)
deq = deque(y)
print(deq)

{'tst', 'long test', 52, 53, 54, 'test', 55}
deque(['tst', 'long test', 52, 53, 54, 'test', 55])

* append number 10 to deque

In [16]:
deq.append(10)
print(deq)

deque(['tst', 'long test', 52, 53, 54, 'test', 55, 10])

* remove element from the right end from deque

In [17]:
deq.pop()
print(deq)

deque(['tst', 'long test', 52, 53, 54, 'test', 55])

* remove element from the left end from deque

In [18]:
deq.popleft()
print(deq)

deque(['long test', 52, 53, 54, 'test', 55])

* delete all elements from deque

In [19]:
print(deq)
deq.clear()
print(deq)

deque(['long test', 52, 53, 54, 'test', 55])
deque([])

* create named tuple (people) with name and surname as position names

In [20]:
from collections import namedtuple

People = namedtuple('People', 'name, surname')
p1 = People('John','Susnik')

* print name and surname

In [21]:
print(p1)
print(p1.name)
print(p1.surname)

People(name='John', surname='Susnik')
John
Susnik

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [22]:
s = ['foo', 'bar', 3, 'baz']
print(type(s))

<class 'list'>

In [40]:
def listStringUpper(s):
    
    j = len(s)
    i = 0
    
    while i < j:
        try:
            s[i] = s[i].upper()
            print(s[i])
            i +=1
        except:
            print('error')
            i +=1
    return

In [42]:
listStringUpper(s)
print(s)

FOO
BAR
error
BAZ
['FOO', 'BAR', 3, 'BAZ']

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [83]:
_dict = {}
print(str(type(_dict)))
_dict["Darth Vader"] = "father"

print(str(_dict["Darth Vader"]))

<class 'dict'>
father

In [104]:
from collections import deque

def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    
    try:
        print(f"Luke, I am your " + str(_dict[text]))
    except:
        print(f" {text} is not in the relation with Luke")
    return

#### Task I
Fix errors in the function above so we can run following code

In [102]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [105]:
relation_to_luke("aaaa")

 aaaa is not in the relation with Luke